body {
  font-family: Arial;
  margin: 40px;
  background-color: #f2f2f2;
}

.questao {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}

button {
  padding: 6px 12px;
  margin-top: 10px;
}

#resultado {
  font-weight: bold;
  margin-top: 20px;
}
